# Flutter
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Runner.xcworkspace/

# Firebase
google-services.json
ios/Runner/GoogleService-Info.plist